## Python practice questions

Q1. Multiples of 2

In [1]:
n=int(input())
for i in range(0,n):
    print('2 X',i,'=',i*2)

11
2 X 0 = 0
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Q2. print the multiples of 15 before and after 225

In [2]:
n=int(input())
for i in range(0,n):
    if i!=15:
        print(i*15)

5
0
15
30
45
60

Q3. Fibonacci sequence

In [3]:
a=0
b=1
num=int(input())
for i in range(0,num+1):
    c=a+b
    a=b
    b=c
    print(c)

5
1
2
3
5
8
13

Q4. Write a Python program that takes a string as input and counts the number of vowels in the string.

In [7]:
def cnt_vowels(input_string):
    vowels='AEIOUaeiou'
    count=0
    for i in input_string:
        if i in vowels:
            count+=1
    return count

In [9]:
name=input('Enter a name: ')
cnt_vowels(name)

Enter a name: shiva kumar

4

Q5. Write a Python program that takes a year as input and determines if it is a leap year

In [23]:
input_year=int(input('Enter the year: '))

if input_year%4==0:
    print(input_year,'is a leap year')
else: print(input_year,'is Not a leap year')

Enter the year: 2024
2024 is a leap year

Q6. Write a Python program that takes a non-negative integer as input and returns its factorial

In [26]:
integer=int(input('Enter a number: '))
number=1

for i in range(1,integer+1):
    number*=i
    print(number)

Enter a number: 6
1
2
6
24
120
720

Q7. Extract the duplicate values from list

In [27]:
a1=[1,2,3,5,4,4,5,3,6,6,21,21]
a2=list()
a3=list()

for i in a1:
    if i in a2:
        a3.append(i)
    else: a2.append(i)
print(a3)

[4, 5, 3, 6, 21]

Q8. Write a Python program that takes an integer as input and prints whether it is even or odd

In [33]:
input_int=int(input('Enter a number: '))

if input_int%2==0:
    print(input_int,'is even number')
else: print(input_int,'is odd number')

Enter a number: 6
6 is even number

Q9. Write a Python function that merges two dictionaries, combining values for matching keys in a list.

In [57]:
Dict1={'Name':'Shiva','Score':50,'Subject':'Python'}
Dict2={'Name':'Kumar','Score':75,'Subject':'SQL'}
Dict3={}

for i,j in Dict1.items():
    if i in Dict3:
        Dict3[i].append(j)
    else: Dict3[i]=[j]
        
for i,j in Dict2.items():
    if i in Dict3:
        Dict3[i].append(j)
    else: Dict3[i]=[j] 
        
print(Dict3)

{'Name': ['Shiva', 'Kumar'], 'Score': [50, 75], 'Subject': ['Python', 'SQL']}

Q10. Create a 3dimensional array

In [73]:
import numpy as np

array1=np.array([[[1,2,3],[2,3,4],[3,4,5]],[[7,8,9],[8,9,10],[10,11,12]],[[11,12,13],[12,13,14],[13,14,15]]])

In [74]:
array1

array([[[ 1,  2,  3],
        [ 2,  3,  4],
        [ 3,  4,  5]],

       [[ 7,  8,  9],
        [ 8,  9, 10],
        [10, 11, 12]],

       [[11, 12, 13],
        [12, 13, 14],
        [13, 14, 15]]])

In [75]:
array1.shape

(3, 3, 3)